<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3> Hi, I am Bisola Awujoola. I am a Software Engineering student at Code Stack Academy, Stockton, CA, U.S.A. </h3>
                </div>
              </div>


            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>I have a Bachelors degree in Computer Science. I'm fascinated about how the computer works, process, retain and display information. </h3>
                </div>
              </div>


            
        </div>
    </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>On top of studying Computer Science, I also completed a Diploma in Database Management System.  I love working with data, processing data to acquire meaning information for people.
                             </h3>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>I am presently studying front-end development and web design using Angular and Javascript.  I am passionate about creating meaninful experiences for users. 
                                 </h3>
                        </div>
                      </div>
        
        
                    
                </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>I’m a decisive go-getter and work wells in group. I have passion for quality and this have giving me numerous recognition from my peers and co-workers. 
                         </h3>
                </div>
              </div>


            
        </div>
</div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>I’m a decisive go-getter and work wells in group. I have passion for quality and this have giving me numerous recognition from my peers and co-workers. 
                         </h3>
                </div>
              </div>


            
        </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>      Aside from all this I like to travel (6 countries and counting), I like playing indoor games, listening to christian music and learning new things. 
                     </h3>
            </div>
          </div>


        
    </div>
</div>
   
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>I’m based in French Camp, CA, but originally hail from Lagos, Nigeria.</h3> 
                     
            </div>
          </div>


        
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Thanks for stopping by. </h3> 
                     
            </div>
          </div>


        
    </div>
</div>

    

    
</div>