<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 1">
                <div class="card-body">
                  <h5 class="card-title">Project 1: Hamster Hotel </h5>
                  <p class="card-text">In this project, I was giving a prototype in Adobe XD and pictures, to develop into an exact website for Hamster Hotel.</p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 2">
                <div class="card-body">
                  <h5 class="card-title">Project 2: Puppy Restaurant </h5>
                  <p class="card-text">In this project, .</p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
        <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 3">
                <div class="card-body">
                  <h5 class="card-title">Project 3: Trivia Game </h5>
                  <p class="card-text">In this project, </p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    
    
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 4">
                <div class="card-body">
                  <h5 class="card-title">Project 4: Business Redevelopment </h5>
                  <p class="card-text">In this project, </p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 5">
                <div class="card-body">
                  <h5 class="card-title">Project 5: Weather API </h5>
                  <p class="card-text">In this project, .</p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 6">
                <div class="card-body">
                  <h5 class="card-title">Project 6: Hangman </h5>
                  <p class="card-text">In this project, </p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 7">
                <div class="card-body">
                  <h5 class="card-title">Project 7:  </h5>
                  <p class="card-text">In this project, </p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                <img src="..." class="card-img-top" alt="Project 8">
                <div class="card-body">
                  <h5 class="card-title">Project 8:  </h5>
                  <p class="card-text">In this project, </p>
                  <a href="" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
</div>