<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Hamster Hotel </h5>
                  <img src="./assets/images/hamster.png" class="card-img-top" alt="Hamster Hotel">
                <h6>  <p class="card-text">In this project, I was giving a prototype in Adobe XD and pictures, to develop into an exact website for Hamster Hotel.</p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Project1" target="_blank"  class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Puppy Restaurant </h5>
                  <img src="./assets/images/puppy.png" class="card-img-top" alt="Puppy Restaurant">
                  <h6><p class="card-text">In this project, I was giving mockup to develop into a fully functioning and responsive website. </p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Project2" target="_blank" class="btn btn-primary">Check it out</a>
                  <!-- <a href="./MyProjects/Project2/index.html" target="_blank" class="btn btn-primary">Check it out</a> -->
                </div>
              </div>
        </div>
    </div>
        <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Trivia Game </h5>
                  <img src="./assets/images/trivia.png" class="card-img-top" alt="Trivia Game">
                  <h6><p class="card-text">In this Project, I build out a Trivia Game application.  I developed the Game making use of bootstrap, HTML, CSS, & JavaScript
                 </p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Project3" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    
    
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Business Redevelopment </h5>
                  <img src="./assets/images/arroyo.png" class="card-img-top" alt="Business Redevelopment">
                  <h6><p class="card-text">In this project, I choose a local business called Arroyo’s Cafe & Cantina At Quail Lakes and redevelop their website. </p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Project4" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Weather API </h5>
                  <img src="./assets/images/weather.png" class="card-img-top" alt="Weather API">
                  <h6><p class="card-text">In this project, I developed a one page weather api application.  I used Bootstrap, HTML, CSS & JavaScript</p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Project5" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title"> Code Stack Directory App </h5>
                  <img src="./assets/images/directory.png" class="card-img-top" alt="Code Stack Directory">
                 <h6> <p class="card-text">This is a web app of Codestack Directory. I used bootstrap, CSS, read Codestack student as JSON data. I made use of CSS animation and DOM manipulation. </p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Lab1" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">To Do List App </h5>
                  <img src="./assets/images/TODO.png" class="card-img-top" alt="To Do List">
                  <h6><p class="card-text">In this project, I made a To-Do Web App, it is a one page application, I made use of Bootstrap, HTML, CSS & JavaScript. </p></h6>
                  <a href="http://bawujoola.azurewebsites.net/MyProjects/Lab2" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 50rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Random Name Generator</h5>
                  <img src="./assets/images/randname.png" class="card-img-top" alt="Random Name Generator">
                  <h6><p class="card-text">This website was designed using Using Javascript, CSS & Bootstrap. I developed a Random Student Name Generator of all the students in Code Stack Academy coding class. </p></h6>
                  <a href="./MyProjects/MiniChallenge9/index.html" target="_blank" class="btn btn-primary">Check it out</a>
                </div>
              </div>
        </div>
    </div>
</div>