<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Bisola Awujoola</span>


<ul class="nav justify-content-center">
  
  
 <li class="nav-item">
   <a class="nav-link active" routerLink="/aboutme" routerLinkActive="active">About Me</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" routerLink="/projects" routerLinkActive="active">Projects</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link active" routerLink="/resume" routerLinkActive="active">Resume</a>
  </li>

</ul>
</nav>