<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col">
        <b>Clerk</b> | Rite Aid Pharmachy, Livermore, CA |  April 2007-present 
<ul>
    <li>Assistsing customers in selecting merchandize, ringing up sales and perform merchandize return.</li>
    <li>Stocking Merchandize onto the shelf.</li>
</ul>

</div>
</div>
<div class="row mt-2">
    <div class="col-3"></div>
<div class="col">


    <b>Computer Analyst</b> | London Capital Computer College, London, UK |  Nov. 2001-Jan. 2007
<ul>
    <li>Created and maintained the school database and website </li>
    <li>Assisted students with the computer programming projects in Oracle, Pascal, HTML, Java and c+</li>
    <li>Developed, analyzed and tested programs using C++, Java, Pascal and Visual Basic 6.0</li>
    <li>Provided maintenance and support to other computer staffs of the college</li>
    <li>Developed, analyzed and tested web-based database applications using HTML, ASP, Oracle SQL and Microsoft Access</li>
    <li></li>

</ul>
</div>

</div>

<div class="row mt-2">
    <div class="col-3"></div>
<div class="col">


    <b>Assistant I.T. Teacher</b> | Islington Green School, London, UK |  Nov. 2002-May 2003
<ul>
    
    <li>Assisted the students with the use of computer system & software.</li>
    <li>Conducted training classes in website design using Microsoft Frontpage</li>
    <li>Conducted training classes in creating presentations using Microsoft Powerpoint</li>
    <li>Maintained the student IT department computer system</li>
</ul>
</div>

</div>

<div class="row mt-2">
    <div class="col-3"></div>
<div class="col">
    <b>Customer Service Representative</b> | RnB Mobile Ringtones & Logo, London, UK |  Nov 2000-Feb 2001
<ul>   
    <li>Designed and maintained the company database using Micorost Access.</li>
    <li>Uploaded ringtones and logos to customer's cell phone.</li>
    <li>Maintained the company's computer system.</li>

</ul>
</div>
</div>

<div class="row mt-3">
    <div class="col-3"></div>
<div class="col">
    <b>Code Stack Academy</b> | CA, USA |  2019-till date
    <p>Software Engineering</p>
</div>


</div>

<div class="row mt-2">
    <div class="col-3"></div>
<div class="col">
    <b>Westminster College of Computing</b> | London, UK |  2003-2004
    <p>Diploma, Database Management System</p>
</div>


</div>
<div class="row mt-2">
    <div class="col-3"></div>
<div class="col">
    <b>London Metropolitan University</b> | London, UK |  2000-2003
    <p>B.Sc. Computer Science</p>
</div>


</div>





</div>