h1 {
  text-align: center;
  color: blue;
  position: relative;
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  0%   {color:blue; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:red; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:blue; left:0px; top:0px;}
}

h2 {
    text-align: center;
}

h3 {
    
    color: blue;
    
}

  .container
  {
    border: 3px solid green;
    background-color: lightgrey;
    border-radius: 6px;
  }

  div.absolute {
    position: absolute;
    top: 80px;
    right: auto;
    width: 900px;
    height: 250px;
    left:200px;
    border: 3px solid green;
  }

  .bgColor {
        background-color: black;
        color: white;
  }